
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.tmp/
.versions/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
.DS_Store
.env
Thumbs.db
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log*
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
